.rows-container {
    display: grid;

    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 200px 200px 200px;
    
}

.rows-container > div {
    background-color: yellow;
    
    width: 100%;
    place-items: center center;
}

#score {
    background: red;
    height: 30px;
    width: 20%;
    display:block;
    float: left;
    margin: 30px 0 30px 10%;
}

#start-game {
    background: yellow;
    height: 30px;
    width: 20%;
    margin: 30px auto;
}

#timer {
    background: blue;
    height: 30px;
    width: 20%;
    margin: 30px 10% 30px 0;
    display: block;
    float: right;
}

#game-area {
    background: darkgray;
    width: 80%;
    height: 900px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: both;
    z-index: -1;
    box-sizing: border-box;
}

.dial {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}



.outer-ring {
    background: black;
    border: 2px solid red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;   
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    
}

.outer-ring:hover {
    
    transition-duration: 500ms;
    transition-property: all;
}

.middle-ring {
    background: black;
    border: 2px solid blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    bottom:80px;
    box-sizing: border-box;
}

.middle-ring:hover {
    
    transition-duration: 500ms;
    transition-property: all;
}

.center-ring {
    background: #8e9aaf;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    bottom: 130px;    
}

.outer-ring i {
    color: red;
    text-align: center;
    position: relative;
    margin-left: -1px;
    bottom: 3px;
    font-size: small;
}

.middle-ring i {
    color: blue;
    margin-left: -1px;
    position: relative;
    bottom: 3px;
    font-size: small;
}

.center-ring i {
    color: black;
    text-align: center;
    margin-left: -1px;
    position: relative;
    top: 1px;
    font-size: small;
}


#toggle-button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 50px auto;
    color: black;
    background-color: blue;
    font-size: medium;
    z-index: 10;
    position: relative;
    border: black solid 1px;
    display: block;
    line-height: 100px;
    text-align: center;
}



#inner-dial-control {
    background-color: blue;
    height: 50px;
    width: 50px;
    margin-right: 10%;
    float: right;
}

#new-game {
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 30px auto;
}

#game-over {
    margin: 0 auto;
    font-size: large;
    color: red;
    font-weight: bolder;
    display: block;
    background: yellow;
    text-align: center;
}

#top-left {
    margin-top: 75px;
}

#top-middle {
    margin-top: 75px;
}

#top-right {
    margin-top: 75px;
}

#middle-left {
    margin-top: 75px;
}

#middle-middle {
    margin-top: 75px;
}

#middle-right {
    margin-top: 75px;
}


#bottom-left {
    margin-top: 75px;
}

#bottom-middle {
    margin-top: 75px;
}

#bottom-right {
    margin-top: 75px;
}



