#score {
    background: red;
    height: 30px;
    width: 20%;
    display: inline-block;
    margin: 30px 0 30px 10%;
}

#start-game {
    background: yellow;
    height: 30px;
    width: 20%;
    margin: 30px auto;
    display: inline-block;
}

#timer {
    background: blue;
    height: 30px;
    width: 20%;
    margin: 30px 0px 30px 0;
    display: inline-block;
}

#game-area {
    background: darkgray;
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    clear: both;
}

.dial {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 30px 9px 30px;
    display: inline-block;
}

.outer-ring {
    background: black;
    border: 2px solid red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;   
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.outer-ring:hover {
    
    transition-duration: 500ms;
    transition-property: all;
}

.middle-ring {
    background: black;
    border: 2px solid blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    bottom:60px;
    box-sizing: border-box;
}

.middle-ring:hover {
    
    transition-duration: 500ms;
    transition-property: all;
}

.center-ring {
    background: #8e9aaf;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    bottom: 100px;

    
}

.outer-ring i {
    color: red;
    text-align: center;
    position: relative;
    margin-left: -1px;
    bottom: 3px;
    font-size: small;
}

.middle-ring i {
    color: blue;
    margin-left: -1px;
    position: relative;
    bottom: 3px;
    font-size: small;
}

.center-ring i {
    color: black;
    text-align: center;
    margin-left: -1px;
    position: relative;
    top: 1px;
    font-size: small;
}

.middle-row {
    position: relative;
    bottom: 80px;
    display: inline-block;
    margin: 15px 9px 30px;
}

.bottom-row {
    position: relative;
    bottom: 200px;
    display: inline-block;
    margin: 30px 9px 30px;
}

#toggle-button {
    height: 50px;
    width: 50px;
    margin-left: 10%;
    float: left;
    color: black;
    font-size: medium;
    z-index: 10;
    position: relative;
}

#inner-dial-control {
    background-color: blue;
    height: 50px;
    width: 50px;
    margin-right: 10%;
    float: right;
}

#new-game {
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}